# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
db.sqlite3
*.sqlite
*.sqlite3
db.sqlite3-journal

# macOS system files
.DS_Store
.DS_STORE

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# PyCharm settings
.idea/

# VS Code settings
.vscode/

# Logs
*.log

# Migrations (compiled or cache)
**/migrations/*.pyc
**/migrations/__pycache__/

# Coverage & testing
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Pip wheel cache
pip-wheel-metadata/
*.whl

# Jupyter Notebook
.ipynb_checkpoints/

# Spyder IDE
.spyderproject
.spyproject

# Poetry
poetry.toml
poetry.lock

# LSP
pyrightconfig.json

# Local env configs
.env
.env.*

# Build
build/
dist/
*.egg-info/
*.egg
